<html>
    <head>
        <title>Welcome!</title>
        <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
    </head>
    <body>
        <h1>Welcome to Cottagecore for All!</h1>
        <p>What are you looking for?</p>
        <a href="/browse/products"><h2>Browse Products</h2></a>
        <a href="/browse/diy"><h2>Browse DIY's</h2></a>
        <a href="/submit/products"><h2>Submit Products</h2></a>
        <a href="/submit/diy"><h2>Submit DIY's</h2></a>
        <!-- <form method="post" action="/shopping">
            <input type="text" name="nickname" placeholder="type what you're looking for here!"/>
            <input type="submit" value="Submit"/>
        </form> -->
        <!-- <audio controls autoplay loop>
  <source src="https://www.computerhope.com/jargon/m/example.mp3" type="audio/mpeg">
  
Your browser does not support the audio element.
</audio> -->

    </body>
</html>
